section.footer-section
    footer.footer
        .footer-container.grid.grid--5-cols
            .logo-col
                a.footer-logo(href='#')
                    img.logo(alt='BoogieBites logo' src='/img/dishes/boogie_logo.png')
                ul.social-links
                    li
                        a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-instagram')
                    li
                        a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-facebook')
                    li
                        a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-twitter')
                p.copyright
                    | Copyright &copy; 
                    span.year 2022
                    |  by BoogieBites, Inc. All rights reserved.
            .address-col
                p.footer-heading Contact us
                address.contacts
                    p.address FET, Jamia Milia Islamia, New Delhi, 110025
                    p.contacts-links
                        a.footer-link(href='tel:415-201-6370') 830-354-4315
                        br
                        a.footer-link(href='mailto:boogiebites@mailsac.com') boogiebites@mailsac.com
            nav.nav-col
                p.footer-heading Account
                ul.footer-nav
                    li
                        a.footer-link(href='#') Create Account
                    li
                        a.footer-link(href='#') Sign in
                    li
                        a.footer-link(href='#') iOS app
                    li
                        a.footer-link(href='#') Android App
            nav.nav-col
                p.footer-heading Company
                ul.footer-nav
                    li
                        a.footer-link(href='#about') About BoogieBites 
                    li
                        a.footer-link(href='#') For Business
                    li
                        a.footer-link(href='#') Cooking partners
                    li
                        a.footer-link(href='#') Careers
            nav.nav-col
                p.footer-heading Resources
                ul.footer-nav
                    li
                        a.footer-link(href='#') Recipe directory
                    li
                        a.footer-link(href='#') Help center
                    li
                        a.footer-link(href='#') Privacy &amp; terms


