extends base

block append head 
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet')

block content 

  .background
    #map
    //- .map-container
    .contact-container
      .screen
        .screen-body
          .screen-body-item.left
            .app-title
              span Contact
              span Us
            .contact-section
              .app-contact CONTACT AT : +91 8303544315
              .app-contact MAIL US AT : boogiebites@mailsac.com
              .app-contact ADDRESS : Jamia Milia Islamia, New Delhi, 110025
          .screen-body-item
            form(action="/contact" method="POST").app-form
              .app-form-group
                  input.contact-user-name.input-field(name="username" type='text' placeholder='' autocomplete='off' required)
                  label.contact-label UserName
              .app-form-group
                  input.contact-user-email.input-field(name="useremail" type='email' placeholder='' autocomplete='off' required)
                  label.contact-label Email id
              //- .app-form-group
              //-     input.input-field(type='email' placeholder='' autocomplete='off' required='')
              //-     label.contact-label Email id
              .app-form-group.message
                  input.contact-user-message.input-field(name="usermessage" type='text' placeholder='' autocomplete='off' required)
                  label.contact-label Message
              .app-form-group.buttons
                a
                  button(type="submit")#send-contact.bn632-hover.bn19 SEND

    script.
        document.getElementById('send-contact').addEventListener('click',()=>{
          document.querySelector('.contact-user-name').value = '';
          document.querySelector('.contact-user-email').value = '';
          document.querySelector('.contact-user-message').value = '';
        })

  //- #map
