
.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(80px);
  transform: scale(1.2);
  /* background: #fff; */
}

.chat {
  position: fixed;
  top: 46%;
  /* left: 50%; */
  margin-top: 5rem;
  bottom: 80px;
  right: -62px;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 70vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;

  background: #d2d3dbda;

  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  /* background: rgba(0, 0, 0, 0.2); */
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  /* color: #fff; */
  color: #888;
  padding: 10px 10px 10px 50px;
  text-transform: uppercase;
  text-align: left;
}

.chat-title h1,
.chat-title h2 {
  font-weight: normal;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  
}

.chat-title h2 {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #fff;
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: 600;
}

.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.chat-title .avatar img {
  width: 100%;
  height: auto;
}

.messages {
  flex: 1 1 auto;
  /* color: rgba(255, 255, 255, 0.5); */
  color: #f9f9fc;
  overflow: hidden;
  position: relative;
  width: 100%;
  overflow-y: auto;
  /*scrollbar appears if message go out of area*/
}

.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #E2D1C3 0%, #FDFCFB  50%, #E2D1C3 100%);
}

.messages::-webkit-scrollbar-thumb {
  background: transparent;
}



.messages.messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}

.messages .message {
  clear: both;
  /*❗ change this to flex*/
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  /* color: rgba(255, 255, 255, 0.3); */
  color: #666;
}

.messages .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
}

.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.messages .message .user-name {
  color: #000;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.messages .message .avatar img {
  width: 100%;
  height: auto;
}

.messages .message.message-personal {
  float: right;
  /*❗ change this to flex*/
  color: #fff;
  text-align: right;
  background: linear-gradient(120deg, #248A52, #257287);
  border-radius: 10px 10px 0 10px;

  word-break: break-all;
}

.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}

.messages .message:last-child {
  margin-bottom: 30px;
}

.messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
}

.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, 0.5); */
  background: #f9f9fc;
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  animation-delay: .15s;
}

.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}

.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, 0.5); */
  background: #f9f9fc;
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}

.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, 0.5); */
  background: #f9f9fc;
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  animation-delay: .3s;
}

.message-box {
  display: flex;
  flex: 0 1 40px;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.3); */
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  padding: 10px;
  position: relative;
}

.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  /* color: rgba(255, 255, 255, 0.7); */
  height: 17px;
  font-size: 13px;
  margin: 0;
  padding-right: 20px;
  width: 265px;
  /* color: rgba(255, 255, 255, 0.24); */
}

.message-input {
  caret-color: #444;
  /* color: rgba(0, 0, 0, 0.6) */
}

.message-box textarea:focus:-webkit-placeholder {
  color: rgba(255, 255, 255, 0.24);
  /* color: transparent; */
}

.message-box .message-submit {
  all: unset;
  cursor: pointer;
}


/* .message-box .message-submit:hover {
  background: #1D7745;
  background: #fdb8a1;
} */

.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
}

.mCSB_inside>.mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}



/* Extra features */
button {
  border: none;
  outline: none;
  cursor: pointer;
}


/* .chat{
  margin-top: 300px;
} */


.chat-btn {
  position: fixed;
  right: 25px;
  bottom: 35px;
  background: #ff6565c2;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity .3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.chat-btn:hover {
  opacity: 1;
  transform: scale(110%);
  /* cursor: pointer; */
}

.message-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.fa-comments {
  font-size: 30px;
  color: #b12a5b;
}

.fa-comments:hover {
  color: #b12a5b71;
}

#emoji-btn {
  position: absolute;
  font-size: 1.6rem;
  background: transparent;
  right: 45px;
  top: 10px;
  opacity: 0.6;
}

#emoji-btn:hover {
  opacity: 1;
}

.fa-paper-plane {
  position: absolute;
  font-size: 18px;
  color: #ff103cc7;
  top: 30%;
  right: 20px;
}

.fa-paper-plane:hover {
  /* color: #12b886; */
  color: #0ca678;
}

/* hiding and displaying chatbox */
.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transform: translateY(0);
}

.overlay {
  transition: all .5s ease-in-out;
  /* -webkit-animation: pop-swirl 1s ease forwards; */
}





@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }

  to {
    transform: translateY(-10px);
  }
}