form(action='/cart' method='POST')
  input(type='hidden' name='_csrf' value= `${csrfToken}`)
  button.btn.btn--full.add-to-cart(type='submit')
    i.fas.fa-shopping-cart
  input(type='hidden' name='productId' value=`${product._id}`)
