@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
:root {
  --orange: #f79f1f;
  --text-color-1: #444;
  --text-color-2: #666;
  --bg-color-1: #fff;
  --bg-color-2: #eee;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5rem;
}

body {
  background: var(--bg-color-2);
}

body.active {
  --text-color-1: #fff;
  --text-color-2: #eee;
  --bg-color-1: #333;
  --bg-color-2: #222;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4);
}

input{
  outline-color: #C98474;
}

.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #A7D2CB;
  border-radius: 0px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#logo{
  font-size: 2.5rem;
}

.btnStyle {
  background-color: #C98474;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 7px 10px;
  letter-spacing: .1em;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btnStyle:hover {
  background-color: #874C62;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
  transform: scale(1.05, 1.05);
}

.btnStyle2 {
  background-color: #874C62;
}

.btnStyle2:hover {
  background-color: #C98474;
}

.btnStyle3 {
  background-color: #A7D2CB;
}

.btnStyle3:hover {
  background-color: #F2D388;
}

.toggleCart {
  position: relative;
}

.fa-circle {
  font-size: 21px !important;
  color: #C98474;
}

.num {
  font-size: 12px;
  padding: 3px 6px;
  color: #fff;
}

.num,
.fa-circle {
  position: absolute;
  right: -9px;
  top: -9px;
}

.cart-items{
  border: 1px solid;
  top: 10%;
  right: -110%;
  padding: 1rem;
  padding-right: 0;
  border-radius: .5rem;
  box-shadow: 0 .1rem 1rem rgba(0, 0, .1);
  width: 35rem;
  background: #fff;
  z-index: 1000;
  position: fixed;
  display: flex;
  /* max-height: 52rem; */
  flex-direction: column;

  /* scroll-padding-top: 7rem;
  scroll-behavior: smooth; */
}

.cart-items.active{
  right: 2rem;
  transition: .5s linear;
}

.cart{
  max-height: 40rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.cart .cart-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.cart .cart-box img{
  height: 10rem;
  width: 12rem;
  border-radius: 50%;
}

.fa-trash{
  font-size: 2rem;
  position: absolute;
  top: 35%;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  transform: translateY(-50%);
}

.cart .cart-box .fa-trash:hover{
  color: #111;
}

.cart .cart-box .content h3{
  color: #111;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.cart .cart-box .content span{
  color: #666;
  font-size: 1.6rem;
}

.cart .cart-box .content .quantity{
  padding-left: 2rem;
}

.cart-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
.cart-total .total{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}
.cart-total .place-order{
  margin-bottom: 10px;
}

.empty{
  margin: 6px;
  right: -110%;
  font-size: 23px;
  font-weight: 00;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

.empty.active{
  /* display: none; */
  position: absolute;
  right: -110%;
  transition: .5s linear;
}

.disabled{
  opacity: 0.4; 
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}


/* Scroll bar */
.cart::-webkit-scrollbar {
  width: .5rem;
}

.cart::-webkit-scrollbar-track {
  background: transparent;
}

.cart::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 3rem;
}



section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--text-color-1);
  font-size: 4rem;
}

.heading span {
  position: relative;
  z-index: 0;
}


.heading span::before {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: -1;
  background: var(--orange);
  height: 100%;
  width: 100%;
  clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--orange);
  border-radius: .5rem;
  cursor: pointer;
}

.btn:hover {
  /* letter-spacing: .2rem; */
  transform: scale(1.1);
}


.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 7rem;
  /* padding-bottom: 8rem; */
}

.home .image {
  flex: 1 1 45rem;
  padding-right: 7rem;
}

.home .image img {
  width: 100%;
  border: solid #fff;
  border-radius: .8rem;
}

.home .image:hover img {
  transform: scale(1.05);
}

.home .content {
  flex: 1 1 40rem;
}

.home .content h3 {
  color: var(--text-color-1);
  font-size: 4rem;
}

.home .content p {
  color: var(--text-color-2);
  font-size: 1.7rem;
  line-height: 1.7;
  padding: 1rem 0;
}


.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  background: var(--bg-color-1);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.popular .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
}

.popular .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.popular .box-container .box:hover .image img {
  transform: translateY(3px);
}

.popular .box-container .box .image h3 {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  font-size: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  border-radius: .5rem;
  font-weight: lighter;
  padding: .5rem 1.5rem;
}

.popular .box-container .box .image h3 i {
  color: var(--orange);
}

.popular .box-container .box .content {
  padding: 1.5rem;
  padding-top: 0;
}

.popular .box-container .box .content .price {
  font-weight: 600;
  color: var(--text-color-1);
  font-size: 2.5rem;
}

.popular .box-container .box .content .price span {
  font-weight: lighter;
  color: var(--text-color-2);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.popular .box-container .box .content p {
  font-size: 1.5rem;
  padding: .5rem 0;
  color: var(--text-color-2);
  line-height: 1.7;
}

.explore .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.explore .box-container .box {
  background: var(--bg-color-1);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.explore .box-container .box .image {
  height: 20rem;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
  background: var(--text-color-1);
}

.explore .box-container .box .image img {
  height: 100%;
  width: 100%;
}

.explore .box-container .box:hover .image img {
  transform: scale(1.2);
}

.explore .box-container .box .content {
  padding-top: 1rem;
}

.explore .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--text-color-1);
  line-height: 1.5;
}

.explore .box-container .box .content .icons {
  display: flex;
  justify-content: space-between;
  border-top: .1rem solid var(--text-color-2);
  margin-top: 2rem;
  padding-top: 1.5rem;
}

.explore .box-container .box .content .icons a {
  font-size: 1.5rem;
  color: var(--text-color-2);
}

.explore .box-container .box .content .icons a:hover {
  color: var(--orange);
}

.explore .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: var(--orange);
}




@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}