/* @import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes rocket-movement {
  100% {
    transform: translate(1200px, -600px);
  }
}

@keyframes spin-earth {
  100% {
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@keyframes move-astronaut {
  100% {
    transform: translate(-160px, -160px);
  }
}

@keyframes rotate-astronaut {
  100% {
    transform: rotate(-720deg);
  }
}

@keyframes glow-star {
  40% {
    opacity: .3;
  }

  90%,
  100% {
    opacity: 1;
    opacity: 1;
    transform: scale(1.2);
    border-radius: 50%;
  }
}

.spin-earth-on-hover {
  transition: ease 200s !important;
  transform: rotate(-3600deg) !important;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  user-select: none;
}

body {
  background: url(images/bg_purple.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: left top;
  height: 100%;
  overflow: hidden;
}

.btn-home {
  position: relative;
  z-index: 200;
  margin: 15px auto;
  width: 200px;
  padding: 10px 15px;
  border: 1px solid #7fffd4;
  border-radius: 100px;
  font-weight: 400;
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  margin-top: 30px;
  transition: all .3s ease-in;
}

.btn-home:hover {
  background-color: #513c5f;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, .1);
}

.page {
  padding: 17% 5% 10% 5%;
  text-align: center;
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.rocket {
  z-index: 95;
  position: absolute;
  transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  animation: rocket-movement 100s linear infinite both running;
}

.earth {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 90;
  animation: spin-earth 90s infinite linear both;
}

.moon {
  position: absolute;
  top: 12%;
  left: 25%;

  /* transform: rotate(0deg); */
  transition: transform ease-in infinite;
}

.astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

.image-404 {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.galaxy {
  background: url(images/overlay_stars.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: left top;
}

.stars .star {
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
  width: 3px;
  height: 3px;
  opacity: .3;
  will-change: opacity;
}

.stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 1s;
}

.stars .star:nth-child(2) {
  top: 20%;
  left: 40%;
  animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.stars .star:nth-child(3) {
  top: 25%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.stars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  animation: glow-star 2s infinite ease-in-out alternate 7s;
}

.stars .star:nth-child(5) {
  top: 90%;
  left: 50%;
  animation: glow-star 2s infinite ease-in-out alternate 9s;
}


@media only screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  .custom-navbar {
    text-align: center;
  }

  .logo img {
    width: 120px;
  }

  .box_astronaut {
    top: 70%;
  }

  .page {
    padding-top: 25%;
  }
}